body{
	background-image:url(../images/comet.jpg);
	background-size: 100%;
}

#block{
	position:absolute;
	background-repeat:no-repeat;
	background-color:white;
	text-align: center;
	width: 200px;
	height: 250px;
	margin:0 auto;
	top:50%;
	left: 50%;
	margin: -200px 0 0 -250px;
}