body{
	background-image:url(../images/comet.jpg);
	background-size: 100%;
}

#block{
	position:absolute;
	background-repeat:no-repeat;
	background-color:white;
	text-align: center;
	width: 300px;
	height: 200px;
	margin:0 auto;
	padding: 35px;
	top:50%;
	left: 50%;
	margin: -127px 0 0 -170px;
	border-radius:25px;
}

#Login{
	font-family: Arial;
}


#registered{
	font-family: Arial;
	font-size: .5em;
}

#form1{
	padding-top:10px;
}

#form1 input{
	background-color:#f2f2f2;
	border-radius:10px;
	border:0;
	margin: 7px 0 7px 0;
	width:92%;
	padding:10px;
	box-sizing: border-box;
}

button{
	background-color:#007fff;
	font-weight: bold;
	color:white;
	border:0;
	margin: 7px 0 7px 0;
	border-radius:12px;
	padding:10px;
	width:92%;
}